<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
    </layout> 
  </appender> 

  <appender name="file_appender" class="org.apache.log4j.RollingFileAppender"> 
    <param name="File" value="/tmp/yardplanner.log"/>
    <!-- <param name="File" value="C:/temp/yardplanner.log"/> -->
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %c{1} - %m%n"/> 
    </layout> 
  </appender>

  <appender name="appender_hibernate" class="org.apache.log4j.RollingFileAppender"> 
    <param name="File" value="/tmp/yardplanner_hibernate.log"/>
    <!-- <param name="File" value="C:/temp/yardplanner.log"/> --> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %c{1} - %m%n"/> 
    </layout> 
  </appender>
  
  <appender name="root_changes" class="org.apache.log4j.RollingFileAppender"> 
    <param name="File" value="/tmp/yardplanner_root_changes.log"/>
    <!-- <param name="File" value="C:/temp/yardplanner.log"/> --> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %c{1} - %m%n"/> 
    </layout>
  </appender>

  <root> 
    <priority value ="trace" /> 
    <appender-ref ref="console" /> 
  </root>
  
  <logger name="file_log" additivity="false">
  	<level value="WARN"/>
  	<appender-ref ref="file_appender"/>  
  </logger>
  
  <logger name="br.yardplanner.model.ContainerCode" additivity="false">
  	<level value="TRACE"/>
  	<appender-ref ref="file_appender"/>
  </logger>
  
  <logger name="br.yardplanner.model.Block" additivity="false">
  	<level value="TRACE"/>
  	<appender-ref ref="file_appender"/>
  </logger>
  
  <logger name="br.yardplanner.actions.container" additivity="false">
  	<level value="TRACE"/>
  	<appender-ref ref="file_appender"/>
  </logger>
  
  <!-- Modificações dos usuários administradores -->
  <logger name="br.yardplanner.actions.usuario.TodosAction" additivity="false">
  	<level value="INFO"/>
  	<appender-ref ref="root_changes"/>
  </logger>
  <logger name="br.yardplanner.interceptor.RootInterceptor" additivity="false">
  	<level value="INFO"/>
  	<appender-ref ref="root_changes"/>
  </logger>
  
  <!-- Hibernate -->
  <logger name="org.hibernate" additivity="false">
  	<level value="ERROR"/>
  	<appender-ref ref="appender_hibernate"/>
  </logger>
  
</log4j:configuration>